<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
    <link rel="stylesheet" href="../css/header.css">
</head>

<body>


    <div class="header">

        <div class="headline">
            <p>Kanban Project Management Tool</p>
        </div>

        <div class="profile-section">
            <img class="question-mark" src="../img/Vector.svg">
            <div>
                
            </div>        

            

        
        </div>



    </div>

</body>

</html>