<div class="header">
    <img class="headline-logo" src="./src/img/logo_blue_join.png">
    <div class="headline">
        <p>Kanban Project Management Tool</p>
    </div>
    <div class="profile-section">
        <img class="question-mark" src="src/img/Vector.svg" onclick="window.location.href='impressum.html'">
        <img class="guestLogin" id="guestLogin" onclick="openLogout()" src="src/img/Guestlogin.svg">
        
    </div>
    
    <img class="logout dNone"  id="logout" onclick="logout()" src="src/img/logout.svg" alt="">
   
</div>



