<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sidebar</title>
    <link rel="stylesheet" href="../css/sidebar.css">
    <link rel="stylesheet" href="../css/fonts.css">
</head>

<body>
    <div class="sidebar">
        <img src="../img/Capa 2.svg" class="join-logo-menu">

        <div class="menu"></div>
        <div class="menu-icon-text">
            <div class="icon">
                <img src="../img/summary_icon.svg">
            </div>
            <div class="text">
                <p>Summary</p>
            </div>
        </div>

        <div class="menu-icon-text">
            <div class="icon">
                <img src="../img/board_icon.svg">
            </div>
            <div class="text">
                <p>Board</p>
            </div>
        </div>

        <div class="menu-icon-text">
            <div class="icon">
                <img src="../img/add_task_icon.svg">
            </div>
            <div class="text">
                <p>Add Task</p>
            </div>
        </div>

        <div class="menu-icon-text">
            <div class="icon">
                <img src="../img/contacts_icon.svg">
            </div>
            <div class="text">
                <p>Contacts</p>
            </div>
        </div>
        <div class="legal-notice">
            <div class="menu-icon-text">
                <div class="icon">
                    <img src="../img/legal_notice_icon.svg">
                </div>
                <div class="text">
                    <p>Legal Notice</p>
                </div>
    
            </div>
    
        </div>
    </div>

    


    </div>
</body>

</html>