/* === GLOBAL === */

html {
    font-size: 16px;
}

body {
    margin: 0;
    background-color: #F6F7F8;
}

/* === GENERAL === */

.taskContainer::-webkit-scrollbar {
    width: 4px;
    margin-left: 5px;
}

.taskContainer::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.taskContainer::-webkit-scrollbar-thumb {
    background: #28ABE2;
    border-radius: 10px;
}

.dNone {
    display: none !important;
}

.subheadlineStyle {
    font-weight: 700;
    font-size: 1.1rem;
}

/* === BOARD-HEADER === */

#boardHeader {
    position: fixed;
    width: auto;
    height: 327px;
    left: 267px;
    right: 28px;
    top: 30px;
    display: flex;
    align-items: center;
}

#boardInnerContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 73px;
    width: 100%;
    padding: 0 35px 0 35px;
}

.boardHeadline {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 120%;
    margin: 0;
}

#searchContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 20px;
    height: 55px;
}

.searchField {
    background: #FFFFFF;
    border: 1px solid #A8A8A8;
    border-radius: 10px;
    height: 42px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

.devider {
    background-color: #A8A8A8;
    width: 1px;
    height: 26px;
}

.searchFieldImage {
    height: 15px;
    padding: 0 12px 0 12px;
}

#inputSearch {
    padding: 12px 21px;
    border: none;
    border-radius: 10px;
}

#inputSearch:focus {
    outline: none;
}

#addTask {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 13px;
    height: 42px;
    background: #2A3647;
    color: #FFFFFF;
    border-radius: 10px;
    cursor: pointer;
}

#addTask:hover {
    background-color: #28ABE2;
}

/* === BOARD-MAIN === */

#boardMainContainer {
    position: absolute;
    min-width: 1200px;
    height: calc(100vh - 278px);
    left: 267px;
    right: 0;
    padding: 0 63px 0 35px;
    top: 278px;
    display: flex;
    justify-content: space-between;
    overflow-x: hidden;
    gap: 90px;
}

.col {
    width: 250px;
    height: auto;
    display: flex;
    flex-direction: column;
    overflow-x: auto;
    overflow-y: hidden;
}

.boardControlElements {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
}

.boardControlElements>h2 {
    font-size: 1.2rem;
    color: #2A3647;
}

.boardControlElements img {
    cursor: pointer;
}

.addBtn:hover {
    filter: invert(65%) sepia(21%) saturate(6259%) hue-rotate(164deg) brightness(120%) contrast(100%);
}

/* TASK-CONTAINER  */

.taskContainer {
    overflow-x: hidden;
    overflow-y: auto;
    padding-right: 10px;
    padding-top: 2px;
}

/* TASK-FIELD */

.task {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 18px 19px;
    gap: 10px;
    background: #FFFFFF;
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
    border-radius: 30px;
    margin-bottom: 16px;
    cursor: pointer;
}

.task:hover {
    transform: scale(1.02);
}

.category {
    background: #FF7A00;
    color: #ffffff;
    border-radius: 10px;
    padding: 4px 25px;
}

.title {
    font-size: 1rem;
    color: #2A3647;
    margin: 0;
}

.description {
    color: #A8A8A8;
}

.subtaskBar {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.progressBar {
    height: 8px;
    width: 138px;
    background-color: #A8A8A8;
    border-radius: 5px;
}

.progress {
    height: 8px;
    background-color: #28ABE2;
    border-radius: 5px;
}

.progressInNumbers {
    font-size: .8rem;
}

/* === TASK-WINDOW === */

#taskInfoContainer {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
}

.taskEditContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 50px;
    gap: 25px;
    position: relative;
    width: 385px;
    height: 550px;
    background: #FFFFFF;
    border-radius: 30px;
}

.closeBtn {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

.closeBtn:hover {
    transform: scale(1.2);
}

.titleEditWindow {
    font-size: 2.5rem;
}

.dateContainer {
    display: flex;
    align-items: center;
    gap: 40px;
}

.priorityContainer {
    display: flex;
    align-items: center;
    gap: 40px;
}

.editDeleteContainer {
    position: absolute;
    right: 35px;
    bottom: 35px;
    display: flex;
    border-radius: 10px;
    width: fit-content;
    cursor: pointer;
}

.right {
    padding: 4px 10px 4px 10px;
    background-color: #2A3647;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right:hover {
    background-color: #28ABE2;
}

.right>img {
    height: 23px;
}

.left {
    background-image: url(../img/img_board/delete.svg);
    background-size: 23px 23px;
    background-repeat: no-repeat;
    background-position: center;
    padding: 4px 26px 4px 10px;
    border: 2px solid #2A3647;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.left:hover {
    filter: invert(65%) sepia(21%) saturate(6259%) hue-rotate(164deg) brightness(120%) contrast(100%);
}

.assignedToMainContainer {
    gap: 10px;
    display: flex;
    flex-direction: column;
}

#assignedToContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.assignedPerson {
    display: flex;
    align-items: center;
    gap: 30px;
}

.initials {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 0.7rem;
}


/* === MEDIA-QUERIES === */

@media (max-width: 868px) {

    #boardMainContainer {
        flex-direction: column;
        min-width: 0;
        gap: 0;
        top: 300px;
        height: calc(100vh - 320px);
        padding: 0 28px 0 0;
    }

    #boardInnerContainer {
        flex-direction: column;
        gap: 20px;
    }

    #boardHeader {
        height: 245px;
        top: 57px;
    }

    .col {
        width: 100%;
        min-height: 320px;
    }

    .taskContainer {
        display: flex;
        overflow-x: auto;
        overflow-y: hidden;
    }

    .taskContainer::-webkit-scrollbar:horizontal {
        height: 4px;
    }

    .task {
        min-width: 250px;
        height: max-content;
        margin-right: 32px;
    }
}

@media (max-width: 750px) {

    #boardMainContainer {
        height: calc(100vh - 360px);
        left: 28px;
        padding: 0 28px 0 0;
    }

    #boardHeader {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        right: auto;
    }

    #addTask {
        width: 100px;
    }
}

@media (max-width: 725px) {

    #searchContainer {
        flex-direction: column;
    }

    #addTask {
        min-height: 42px;
    }

    #boardHeader {
        height: 200px;
    }
}