.impressum {
    position: absolute;
    width: 75%;
    height: 327px;
    left: 295px;
    right: 28px;
    top: 85px;
}

.topic {
    font-size: 1.8em;
    color: rgba(11, 173, 221);
    font-weight: 500;
    margin-top: 50px;
}