body {
    margin: 0;
    font-family: 'Inter', 'sans-serif';
    font-size: normal;

}

.resetPassword-logo-container {
    width: 110px;
    margin-top: 25px;
}

.blue-logo {
    width: 150px;
    height: 150px;
    object-fit: contain;
    margin-top: 80px;
    margin-left: 80px;
}

.passwordreset-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    padding: 0;
    margin: 0;
    animation: fade-in 1.5s;

}

.passwordreset-header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: white;
    border-radius: 20px;
    width: 800px;
    height: 550px;
    padding: 30px 60px 30px 60px;
    box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.04);
}

.passwordreset-header a {
    position: absolute;
    top: 50px;
    left: 30px;
    display: flex;
    cursor: pointer
}


.passwordreset-header h1 {
    font-size: 70px;
    margin: 0;
    margin-bottom: 15px;
    margin-top: 30px;


}

.blue-line {
    display: flex;
    margin: 0;
    margin-bottom: 10px;
    width: 175px;
    height: 3px;
    background-color: rgba(11, 173, 221, 1);

}

.passwortreset-text h2 {
    text-align: center;
    font-weight: 400;


}


.password-input {
    border: solid 1px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    font-size: 20px;
    padding: 15px;
    width: 400px;
    margin-top: 45px;


}

.password-input::placeholder {
    color: rgba(0, 0, 0, 0.3);

}


.input-resetpassword {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;


}

.resetPassword-Button-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;

}

.resetPassword-Button {
    background-color: #2A3647;
    color: white;
    border-radius: 10px;
    padding: 15px 120px 15px 120px;
    margin-top: 30px;
    font-size: 20px;
    border: none;
    cursor: pointer;
}

.confirmPasswordReset {

    position: absolute;
    left: 43%;


}

@keyframes fade-in {
    0% {
        opacity: 0;
        transform: scale(0.5);

    }

    40% {
        opacity: 0;
        transform: scale(0.5);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}


.dNone {
    display: none;
}


@media(max-width: 1024px) {
    .blue-logo {
        width: 80px;
        height: 80px;
        object-fit: contain;
        margin-top: 80px;
        margin-left: 80px;
    }

    .passwordreset-container {
        height: 600px;
    }

    .passwordreset-header h1 {
        font-size: 60px;
    }

    .passwordreset-header {
        padding: 0;
    }
}

@media(max-width: 688px) {

    .passwordreset-header h1 {
        font-size: 50px;
    }
}

@media(max-width: 433px) {
    .blue-logo {
        width: 80px;
        height: 80px;
        object-fit: contain;
        margin-top: 80px;
        margin-left: 10px;
    }
    .passwordreset-header h1 {
        font-size: 25px;
    }
    .passwordreset-container {
        display: flex;
        height: 600px;
        width: 410px;
        
    }

    .password-input{
        padding-left: 0;
        width: 350px;
    }

    .password-input::placeholder{
        padding-left: 10px;
    }
}

@media(max-width: 414px) {
    .blue-logo {
        width: 80px;
        height: 80px;
        object-fit: contain;
        margin-top: 80px;
        margin-left: 10px;
    }
    .passwordreset-header h1 {
        font-size: 25px;
    }
    .passwordreset-container {
        display: flex;
        height: 600px;
        width: 400px;
        margin-left: 5px;
    }

    .password-input{
        padding-left: 0;
        width: 350px;
    }

    .password-input::placeholder{
        padding-left: 10px;
    }
}


@media(max-width: 393px){
    .passwordreset-container {
        display: flex;
        height: 600px;
        width: 370px;
        margin-left: 10px;
       
    }

    .passwordreset-header h1 {
        font-size: 20px;
    }
}

@media(max-width: 375px){
    .passwordreset-container{
    margin-left: 0;
}

.blue-logo {
    width: 80px;
    height: 80px;
    object-fit: contain;
    margin-top: 80px;
    margin-left: 10px;
}
}


@media(max-width: 360px){

    .blue-logo {
        width: 80px;
        height: 80px;
        object-fit: contain;
        margin-top: 80px;
        margin-left: 10px;
    }

    .passwordreset-header h1 {
        font-size: 20px;
    }

    .passwordreset-header{
        display: flex;
        justify-content: center;
        width: 350px;
    }
    .passwordreset-container{
    margin-left: 30px;
    display: flex;
    height: 560px;
    width: 300px;
}

.password-input{
    width: 290px;
    margin-left: 8px;
}

.resetPassword-Button{
    width: 80%;
    padding: 15px;
}

}