    body {
        margin: 0;
        font-family: 'Inter', 'sans-serif';
        font-size: normal;
    }

    .summary-container{
    position: fixed;
    width: auto;
    height: 327px;
    left: 267px;
    right: 28px;
    top: 57px;
    display: flex;
    align-items: center;
    margin-left: 90px;
}

.summary-header{
    font-size: 30px;
}

.blue-line{
    height: 70px;
    width: 3px;
    margin: 0;
    margin-left: 80px;
    background-color: rgba(11, 173, 221, 1);

}

.text-header h2{
    font-weight: 400;
    font-size: 30px;
    margin-left: 40px;

}


.task-Container{
    display: flex;
    justify-content: flex-start;
    margin-left: 80px;
    position: fixed;
    left: 257px;
    right: 28px;
    top: 457px;
    display: flex;

}

.task-board{
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.04);
    padding: 60px 60px 60px 60px;
    font-size: 40px;
}

